<%= turbo_frame_tag "players" do %>
  <div id='results'>
    <table class='min-w-full'>
      <thead>
        <tr class='text-left'>
          <th><%= link_to "Name ↓↑", vehicles_path(sort_on: :name, sort_direction: @link_sort_direction), class: 'text-blue-500' %></th>
          <th>Email</th>
          <th><%= link_to "Vehicle Type ↓↑", vehicles_path(sort_on: :vehicle_type, sort_direction: @link_sort_direction), class: 'text-blue-500' %></th>
          <th>Vehicle Name</th>
          <th>Vehicle Length</th>
        </tr>
      </thead>
      <tbody>
        <%= render @vehicles %>
      </tbody>
    </table>
  </div>
<% end %>
