<%= turbo_frame_tag "players" do %>
  <div id='results'>
    <table>
      <thead>
        <tr>
          <th>Name <%= link_to "(Sort)", vehicles_path(sort_on: :name, sort_direction: @link_sort_direction) %></th>
          <th>Email</th>
          <th>Vehicle Type <%= link_to "(Sort)", vehicles_path(sort_on: :vehicle_type, sort_direction: @link_sort_direction) %></th>
          <th>Vehicle Name</th>
          <th>Vehicle Length</th>
        </tr>
      </thead>
      <tbody>
        <%= render @vehicles %>
      </tbody>
    </table>
  </div>
<% end %>
